#navbar {
	height: 5vh;
	width: 100vw;
	-webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);

	display: flex;
	flex-direction: row;
	bottom: 0;
	padding: 0 2.5vw; 

	ul {
		display: flex;
		flex-direciton: row;
		align-items: center;
		width: 40vw;
		margin-top: 0;
		list-style: none;

		.navbar-icon {
			font-size: 4vw;
		}

		li {
			width: 10vw;
		}

	}

	h1 {
		width: 55vw;
		font-size: 1.9vw;
		margin-top: 0;
		transform: rotate(0deg);
		text-align: right;
		line-height: 5vh;
		vertical-align: middle;		
	}
}



#wrapper {
	height: 90vh;
	margin-left: 0;
	margin-right: 0;
	margin-top: 5vh;
	margin-bottom: 5vh;

	.page {
		height: 90vh;
		overflow-y: scroll;
	}

	#container {
		height: 100%;
		width: 100%;

		#content {
			width: 100%;
			height: 100%;
			
			h1 {
				font-size: 25vw;
				position: relative;
				top: -25px;
			}
			h2 {
				font-size: 7vw;
				position: relative;
			}

			ul {
				position: relative;
				top: -25px;

				li {
					font-size: 5.5vw;
					display: inline-block;
					position: relative;
				}				
			}
		}
	}

	#resume {
		
		#img-and-information {
			margin-top: 3%;

			#img {			
				#img-wrapper {
					height: 40vw;
					width: 40vw;
					border: 2vw solid #1A454F;
				}
				h1 {
					font-size: 9vw;
				}
			}

			#information {
				width: 95%;
				padding: 1% 0;
				margin-top: 0.5%;

				#info {
					font-size: 4vw;

					#taiwan-img {
						height: 20px;
						width: auto;
					}	
				}
				#quote {
					font-size: 5vw;
				}
			}
		}

		#education {
			margin-top: 10%;
			h2 {
				font-size: 7vw;			
			}
			hr {
				height: 3vw;
			}
			.education-content {

				.education-term {
					width: 40%;

					h3 {
						font-size: 4.2vw;
					}
				}

				.education-information {
					width: 60%;

					h4 {
						font-size: 5vw;
					}
				}
			}
		}

		#skill {
			margin-bottom: 20px;

			h2 {
				margin-left: 2.5%;
				font-family: 'Open Sans';
				font-size: 7vw;
				font-weight: 900;
				color: #1A454F;				
			}
			hr {
				display: block;
				margin: 0.5% auto;
				width: 95%;
				height: 3vw;
				background-color: #1A454F;
				border: 0; 
			}
			#skill-content-wrapper {
				display: flex;
				flex-direction: column;
				width: 95%;
				height: auto;
				margin: 0 2.5%;
				
				#skill-content-left {
					width: 100%;
				}
				
				#skill-content-right {
					margin-top: 10%;
					width: 100%;
				}

				.skill-content {					
					h5 {
						background-color: #1A454F;
						color: #F5D73F;
						font-family: 'Open Sans';
						font-size: 5vw;
						font-weight: 500; 
						text-indent: 5px;

					}
					#skill-information-wrapper {
						display: flex;
						flex-direction: column;

						#skill-information-left {
							width: 100%;
						}

						#skill-information-right {
							width: 100%;
						}
						.skill-information {
							margin-top: 1%;
							margin-bottom: 3%;
							display: flex;
							flex-direction: row;

							h6 {
								width: 30%;
								color: #1A454F;
								font-family: 'Open Sans';
								font-size: 4.5vw;
								font-weight: 600; 
								text-indent: 5px;								
							}
							ul {
								width: 70%;
								padding-left: -5px;
								li {
									color: #1A454F;
									font-family: 'Open Sans';
									font-size: 4.5vw;
									font-weight: 400; 
									text-indent: 20px;
									list-style-position: inside;

									span {
										position: relative;
										left: 0px;
									}
								}
							}
						}						
					}
				}
			}
		}
	}


	#projects {
		.direction-btn {
			display: none;
		}

		#projects-wrapper {
			height: 100%;
			width: 100%;
			overflow-x: auto;
			overflow-y: scroll;  
			display: flex;
			flex-direction: column;

			.projects-page {
				height: auto;
				width: 100%;
				overflow-y: scroll;
				padding: 10px 0;
				flex-shrink: 0;
				font-family: 'Open Sans';

				.projects-page-title h1{
					margin-top: 10px;
					margin-left: 10px;
					font-size: 8.2vw;
					font-weight: 800;
					color: #1A454F;
				}

				.projects-page-description p {
					max-width: 90%;
					font-size: 5vw;
					font-weight: 500;
					color: #1A454F;
					margin-top: 10px;
					margin-left: 15px;

					a {
						text-decoration: none;
						color: #b73c33;

						&:hover {
							color: #F5D73F;
						}
					}

					b {
						background-color: rgba(244, 241, 66, 0.4);
						border-radius: 10px;
					}
				}

				.projects-page-info {
					display: flex;
					flex-direction: column;
					margin-top: 20px;
					margin-left: 10px;

					.projects-page-skill {
						width: 100%;
						
						h2 {
							font-size: 7vw;
							font-weight: 800;
							color: #1A454F; 
						}
						ul {
							margin-top: 10px;
							margin-left: 5px;
							list-style: none;
							li {
								font-size: 5vw;
								font-weight: 600;
								color: #1A454F;
							}
						}

					}
					.projects-page-link {
						margin-top: 20px;
						width: 100%;

						h2 {
							font-size: 7vw;
							font-weight: 800;
							color: #1A454F; 
						}
						ul {
							display: flex;
							flex-direction: row;
							margin-top: 10px;
							margin-left: 5px;
							list-style: none;
							li {
								font-size: 5vw;
								font-weight: 500;
								color: #1A454F;
								width: 50%;

								a {
									text-decoration: none;
									font-weight: 800;
									color: #2c518c;
									
									&:hover {
										color: #F5D73F;
									}
								}

							}
						}
					}
				}

				.projects-page-gif {
					margin-top: 20px;
								
					h2 {
						font-size: 7vw;
						font-weight: 800;
						color: #1A454F;
						margin-left: 10px;						
					}
					
					.img-wrapper {
						display: flex;
						flex-direction: row;
						overflow-x: scroll;
						background-color: rgba(26, 69, 79, 0.2);
						margin-top: 10px;

						img {
							flex-shrink: 0;
							margin: 10px;
							width: 100%;
							align-self: center;
						}						
					}
				}
			}
		}			
	}

	#interests {
		overflow: hidden;
		
		::-webkit-scrollbar {
			width: 0;
			height: 0;
		}

		::-webkit-scrollbar-button {
			width: 0;
			height: 0;
		}

		#interests-wrapper {
			position: relative;
			overflow-y: scroll;
			overflow-x: hidden; 
			height: 100vw;
			width:	90vh;
			transform-origin: right top;
			transform: rotate(-90deg);
			left: -90vh;

			background-image: url("./img/room.jpg");
		    background-position: center center;
		    background-repeat: no-repeat;
		    background-size: cover;
			
			.interests-page {
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100vw;
				width:	90vh;
				overflow: hidden;
				
				.scroll-text {
					font-family: 'Permanent Marker';
					font-size: 4vw;
					color: #F8F8F8;
					background-color: rgba(255, 255, 255, 0.2);
					text-align: center;	
					transform: rotate(90deg);
					width: 100vw;
					border: 0.45vw solid #F8F8F8;
				}

				.intro-text {
					position: relative;
					font-family: 'Permanent Marker';
					font-size: 10vw;
					color: #F8F8F8;
					background-color: rgba(255, 255, 255, 0.2);
					text-align: center;
					transform: rotate(90deg);
					width: 100vw;
					
					p {
						background-color: rgba(26, 69, 79, 0.5);
						font-family: 'KoHo';
						font-size: 4vw;

					}
				}			
			}


			.interests-page:nth-child(1) {

			}
			.interests-page:nth-child(2) {
				background-image: url("./img/travel.jpg");
			    background-position: center center;
			    background-repeat: no-repeat;
			    background-size: cover;				
			}

			.interests-page:nth-child(3) {
				background-image: url("./img/singing.jpg");
			    background-position: center center;
			    background-repeat: no-repeat;
			    background-size: cover;	
			}
			.interests-page:nth-child(4) {
				background-image: url("./img/food.jpg");
			    background-position: center center;
			    background-repeat: no-repeat;
			    background-size: cover;

			    div {
			    	background-color: rgba(0, 0, 0, 0.2);	
			    }
			}
			.interests-page:nth-child(5) {				
				background-image: url("./img/workout.jpg");
			    background-position: center center;
			    background-repeat: no-repeat;
			    background-size: cover;
			}
			.interests-page:nth-child(6) {
				background-image: url("./img/macbook.jpg");
			    background-position: center center;
			    background-repeat: no-repeat;
			    background-size: cover;
			}
			.interests-page:nth-child(7) {
	
			}
		}
	}


	#contact {
		display: flex;
		flex-direction: column;
		padding: 3vh 0;
		width: 100vw;

		background-color: #F8F8F8;
		#message-input {
			display: block;
			margin: auto;
			width: 90%;
			padding: 0;
			#message-input-textarea {
				h1 {
					font-family: 'Open Sans';
					font-size: 9vw;
					font-weight: 700;
					color: #1A454F;
					text-indent: 0;
					text-align: center;
				}

				form{
					#name{
						display: block;
						height: 7%;
						width: 100%;
						margin: 2% 0;
						padding: 0 2%;
						border-radius: 10px;
						outline: none;
						font-family: 'Open Sans';
						font-size: 5vw;
						font-weight: 500;						
					}
					#email{
						display: block;
						height: 7%;
						width: 100%;
						margin: 2% 0;
						padding: 0 2%;
						border-radius: 10px;
						outline: none;
						font-family: 'Open Sans';
						font-size: 5vw;
						font-weight: 500;
					}
					#message{
						display: block;
						height: 25%;
						width: 100%;
						margin: 2% 0;
						padding: 2% 2%;
						border-radius: 10px;
						border-width: 2px;
						border-style: inset;
						border-color: initial;
						border-image: initial;
						outline: none;
						font-family: 'Open Sans';
						font-size: 5vw;
						font-weight: 500;					
					}
					#submit{
						display: block;
						height: 7%;
						width: 100%;
						margin: 2% 0;
						border-radius: 10px;
						outline: none;
						background-color: #1A454F;
						color: #F8F8F8;
						font-family: 'Open Sans';
						font-size: 6vw;
						font-weight: 700;					
					}
					#submit:hover {
						transition: background-color 0.3s ease;
						background-color: #F5D73F;
					}
				}
			}
			
			#login-as-admin {
				margin-top: 8vh;

				h1 {
					font-family: 'Open Sans';
					font-size: 7.5vw;
					font-weight: 700;
					color: #1A454F;
					text-indent: 0;
					text-align: center;
				}
				form {
					#username {
						display: block;
						height: 7%;
						width: 100%;
						margin: 2% 0;
						padding: 0 2%;
						border-radius: 10px;
						outline: none;
						font-family: 'Open Sans';
						font-size: 5vw;
						font-weight: 500; 
					}
					#password {
						display: block;
						height: 7%;
						width: 100%;
						margin: 2% 0;
						padding: 0 2%;
						border-radius: 10px;
						outline: none;
						font-family: 'Open Sans';
						font-size: 5vw;
						font-weight: 500;
					}
					#login {
						display: block;
						height: 7%;
						width: 100%;
						margin: 2% 0;
						border-radius: 10px;
						outline: none;
						background-color: #1A454F;
						color: #F8F8F8;
						font-family: 'Open Sans';
						font-size: 6vw;
						font-weight: 700;
					}
					#login:hover {
						transition: background-color 0.3s ease;
						background-color: #F5D73F;
					}
				}

				#logout {
					display: block;
					height: 7%;
					width: 100%;
					margin: 2% 0;
					border-radius: 10px;
					outline: none;
					background-color: #1A454F;
					color: #F8F8F8;
					font-family: 'Open Sans';
					font-size: 6vw;
					font-weight: 700;					
				}
				
				#logout:hover {
					transition: background-color 0.3s ease;
					background-color: #F5D73F;
				}
			}

		}

		#message-list {
			display: block;
			margin: auto;
			width: 90%;
			height: auto;
			padding: 0;
			margin-top: 10%;
			margin-bottom: 5%;

			h2 {
				color: #1A454F;
				font-family: 'Open Sans';
				font-size: 7vw;
				font-weight: 700;				
			}

			hr {
				display: block;
				margin: 0.5% auto;
				height: 3vw;
				background-color: #1A454F;
				border: 0; 
			}

			#message-list-wrapper {
				display: flex;
				flex-direction: column;
				max-height: none;
				max-width: 100%;
				overflow: auto;

				.message-block {
					width: 90%;
					padding: 5% 5%;
					min-height: 15%;
					font-family: 'Open Sans', 'Noto Sans TC';
					color: #1A454F;
					border-bottom: 1px solid #1A454F;

					.message-author {
						display: inline-block;
						width: 50%;
						text-align: left;
						font-size: 5.5vw;
						font-weight: 900;
					}
					.message-datetime {
						display: inline-block;
						width: 50%;
						font-size: 4.5vw;
						text-align: right;
					}
					.message-text {
						display: block;
						height: auto;
						width: 100%;
						padding-top: 3%;
						font-size: 5vw;
						white-space: pre-wrap;
						word-wrap: break-word;
						word-break: break-all;
					}
					.message-reply-input {
						display: block;
						height: 25%;
						width: 100%;
						margin: 2% 0;
						padding: 2% 2%;
						border-radius: 10px;
						border-width: 2px;
						border-style: inset;
						border-color: initial;
						border-image: initial;
						outline: none;
						font-size: 5vw;
						font-weight: 500;						
					}
					.message-reply-submit {
						display: block;
						height: 7%;
						width: 100%;
						margin: 2% 0;
						border-radius: 10px;
						outline: none;
						background-color: #1A454F;
						color: #F8F8F8;
						font-size: 5vw;
						font-weight: 700;
					}
					.message-reply-submit:hover {
						transition: background-color 0.3s ease;
						background-color: #F5D73F;						
					}
					.message-reply-wrapper {
						background-color: #1A454F;
						border-radius: 5px;
						padding: 3%;
						margin-top: 3%;

						.message-reply-author {
							display: inline-block;
							width: 50%;
							text-align: left;
							font-size: 5vw;
							font-weight: 900;
							color: #F5D73F;
						}
						.message-reply-datetime {
							display: inline-block;
							width: 50%;
							font-size: 4.5vw;
							text-align: right;
							color: #F8F8F8;
						}					
						.message-reply-text {
							display: block;
							min-height: 7%;
							height: auto;
							width: 100%;
							padding-top: 3%;
							font-size: 5vw;
							color: #F8F8F8;
							white-space: pre-wrap;
							word-wrap: break-word;
							word-break: break-all;
						}
					}
				}				
				.message-block-appear {
				  	opacity: 0;
				  	background-color: #F5D73F;
				}

				.message-block-appear.message-block-appear-active {
				  	opacity: 1;
				  	background-color: #F8F8F8;
					-webkit-transition: all 2000ms ease; 
					   -moz-transition: all 2000ms ease; 
					     -o-transition: all 2000ms ease; 
					        transition: all 2000ms ease; /* ease (default) */
				}				
			}

		}
	}
}



#menu {
	position: fixed;
	top: 0;
	bottom: 95vh;
	display: flex;
	flex-direction: row;
	height: 5vh;
	width: 100vw;

	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	
	.subject {
		width: 20%;
		height: 100%;

		.side-highlight {
			display: none;
			width: 0%;
		}

		.icon-and-text {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 0 5px;
			width: 100%;
			border-right: 1px solid rgba(255, 255, 255, 0.1);
			border-bottom: 0px;
			
			.menu-icon {
				display: none;
				font-size: 3vw;
			}

			h1 {
				font-size: 3.5vw;
			}			
		}



	}

	.subject:hover {
		z-index: 1;
		-webkit-box-shadow: 0px 0px 57px 19px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 57px 19px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 57px 19px rgba(0,0,0,0.75);


	}

}